  <div class="grid-stack-item"
      data-gs-x="0" data-gs-y="0"
      data-gs-width="4" data-gs-height="2">
          <div class="grid-stack-item-content">
            <p>Testing trend</p>
            <iframe class="iframe" id = "iframeNik2" scrolling="no" style="border:dashed;"  src={{skySportsGoogleTrendsURL}} wmode="Opaque"></iframe>
          </div>
  </div>


  <div class="grid-stack-item"
      data-gs-x="0" data-gs-y="0"
      data-gs-width="4" data-gs-height="2">
          <div class="grid-stack-item-content">
            <p> Google trends search terms</p>
            {{input type="text" value=term1 placeholder="Term 1"}}
            {{input type="text" value=term2 placeholder="Term 2"}}
            <br/>
          </div>
  </div>


  <div class="grid-stack-item"
      data-gs-x="0" data-gs-y="0"
      data-gs-width="4" data-gs-height="2">
          <div class="grid-stack-item-content">
            <iframe class="iframe" id = "iframe" scrolling="no" style="border:dashed;"  src="http://www.google.com/trends/fetchComponent?hl=en-GB&q=sky+sports,+football&date=1/2015+12m&gprop=froogle&cmpt=q&tz=Etc/GMT-1&tz=Etc/GMT-1&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330" wmode="Opaque"></iframe>
          </div>
  </div>


<div class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">
              <div class="ct-chart ct-golden-section" id="testChart"></div>
        </div>
</div>



<div class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">
              <h3>Chartbeat Live Concurrent Users</h3>
              <div class="issue-number">{{model}}</div>
        </div>
</div>

<div class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="2" data-gs-height="2">
        <div class="grid-stack-item-content">
              <h3>Chartbeat Live Concurrent Users Different structure</h3>
              <div class="issue-number">{{concurrentUsers}}</div>
        </div>
</div>
